@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: url(img/bg2.jpg) no-repeat;
	background-size: cover;
	height: 1000px;
	box-sizing: border-box;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	z-index: 11;
}
.navbar .logo{
	width: 60px;
	height: auto;
	padding: 5px 100px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: #29cc00;
	border-radius: 2px;
}
.wrapper .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
	box-sizing: border-box;
}
.center h1{
	color: #29cc00;
	font-size: 50px;
	width: 900px;
	font-weight: bold;
	text-align: center;
}
.center h2{
	color: white;
	font-size: 70px;
	font-weight: bold;
	margin-top: 10px;
	width: 885px;
	text-align: center;
}
.center img{
	margin-top: 300px;
	margin-left: 300px;
	width: 250px;
	height: auto;

}
.center h3{
	color: white;
	font-size: 30px;
	font-weight: italic;
	margin-top: 10px;
	width: 885px;
	text-align: center;
}
.center .buttons{
	margin: 35px 280px;
}

.buttons button{
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
	background: rgba(136, 133, 133, 0.61);
	outline: none;
	cursor: pointer;
	border: 1px solid #29cc00;
	border-radius: 25px;
	transition: .4s;
}
.buttons .btn2{
	margin-left: 25px;
}
.buttons button:hover{
	background: #29cc00;
}
.center.img{
	margin-top: auto;
	width: 100px;
	height: auto;
    position: relative;
	z-index: 10px;
	box-sizing: border-box;
}
/* #### ABOUT PAGE #### */
.about{
    padding: 20;
}
.about-content{
	background-color: #3f413f8a;
	box-shadow: #b2b3b1;
	box-sizing: border-box;
	border-color: #29cc00;
	padding: 10px;
	float: none;
	z-index: 5;
	
}
.row .row-left img {
	width: 300;
	float: left;
	
}
.about .row-right{
    padding: 3rem 0;
}
.about .row-right p{
    margin: 2;
	float: right;
}
.about-content{
    margin: 15;
	padding: 20;
}
.about-content li{
    display: inline;
    margin:33;
	padding: 10;
	
}
.about-content li span{
    flex: 1;
}
.about-content li span:first-child{
    color: rgb(34, 209, 28);
    font-weight: normal;
	font-size: x-large;
}
.about .row-right h3{
    color: var(--green);
    font-size: 1.5rem;
}
.about .row-right h3 span{
    color: #fff;
    font-weight: 400;
}
.row .about-content .text {
    color: rgb(253, 253, 253);
    float: none;
}
.about-content.text li{
   background-color: #29cc00;
}
.row .row-right .text {
	color: rgb(248, 248, 248);
	float: none;
	font-size: medium;
	font-weight: normal;
	margin-top: 150;
	box-sizing: border-box;

}
.row .about-content .text{
	color: rgb(255, 247, 247);
	float: none;
}
.row .row-right .text {
    color: rgb(255, 255, 255);
    float: none;
    font-size: medium;
    font-weight: normal;
    margin-top: 150; 
    box-sizing: border-box;
}
.about-container .title {
    font-size: 3rem;
    font-family: var(--poppins);
    text-align: center;
    text-transform: capitalize;
    font-weight: 900;
    color:rgb(255, 255, 255);
	margin:-6;
}
/*contact*/
.contact{
    padding: 5rem 0 2.5rem 0;
}
.contact-container .title{
 font-size: 3rem;
    font-family: var(--poppins);
    text-align: center;
    text-transform: capitalize;
    font-weight: 900;
    color:rgb(255, 255, 255);
	margin:-6;	
}
.contact-container .row .col-left{
	color: rgb(13, 167, 7);
	float: left;
	padding:44;
}
.contact-form input, .contact-form textarea{
    width: px;
	height: 100;
    margin: 1rem 0;
    background:rgba(7, 7, 7, 0.562);
    border: 2px solid transparent;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 23px;
    outline: 2;
    caret-color: #fff;

}
.contact-social-links{
border-width: 3px;
border-style:solid;
background-color: rgba(5, 5, 5, 0.253);
padding: 22px;

}

i {margin: 0 10px;
	font-size: 25px;

}

.contact-form input:focus, .contact-form textarea:focus{
    border-color: var(--green);
}
.contact-form input::placeholder,
.contact-form textarea::placeholder{
    text-transform: uppercase;
}
.contact-form .btn{
	border-width: 10px;
	border-radius: 5px;
	border-color: rgba(0, 0, 0, 0.747);
	color: rgba(202, 200, 200, 0.664);
	background: rgba(44, 44, 44, 0.514);
	padding: 15x;
	
}
.skills img{
	width:900px;
	height: 300px;
	float: left;
	padding:89px;
	margin-top: -1234px;
}
.skills h2{
	font-size: 3rem;
    font-family: var(--poppins);
    text-align: center;
    text-transform: capitalize;
    font-weight: 900;
    color:rgb(255, 255, 255);
	margin:-6;
}
/* #### SKILLS PAGE #### */
.skills{
    padding: 5rem 0 2.5rem 0;
}
.skills > .text{
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
}
.skills .row{
    margin: 1rem 0;
}
.skills .item{
    padding: 0.5rem 0;
    margin: 0.3rem 0;
}
.skills .item-text{
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 1.3rem;
    position: relative;
}
.skills .item-text span:last-child{
    position: absolute;
}
.skills .item-text .w-90{
    margin-left: 85%;
}
.skills .item-text .w-75{
    margin-left: 70%;
}
.skills .item-text .w-85{
    margin-left: 80%;
}
.skills .item-text .w-80{
    margin-left: 75%;
}
.skills .item-text .w-60{
    margin-left: 55%;
}
.skills .item-text .w-68{
    margin-left: 63%;
}
.progress{
    margin: 0.8rem 0;
    border-radius: 10px;
    height: 16px;
    width: 100%;
    background-color: var(--nero);
    overflow: hidden;
}
.progress-bar{
    background: var(--green);
    height: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.progress-bar.w-90{
    width: 90%;
}
.progress-bar.w-75{
    width: 75%;
}
.progress-bar.w-85{
    width: 85%;
}
.progress-bar.w-80{
    width: 80%;
}
.progress-bar.w-60{
    width: 60%;
}
.progress-bar.w-68{
    width: 68%;
}
/* #### PROJECTS PAGE #### */
.projects{
    padding: 5rem 0 2.5rem 0;
}
.projects > .text{
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
}
.projects .item{
    margin: 2rem 0;
    height: 320px;
    width: 100%;
    position: relative;
}
.projects .row .item:nth-child(1){
    background: url(img/nazu\ blackpackaging.png) center/cover no-repeat;
}
.projects .row .item:nth-child(2){
    background: url(img/blackgrl.jpg) center/cover no-repeat;
}
.projects .row .item:nth-child(3){
    background: url(img/Perspective\ Business\ Cards\ MockUp\ 2.png) center/cover no-repeat;
}
.projects .row .item:nth-child(4){
    background: url(img/beutykid.png) center/cover no-repeat;
}
.projects .row .item:nth-child(5){
    background: url(img/IMG_2713-Edit.jpg) center/cover no-repeat;
}
.projects .row .item:nth-child(6){
    background: url(img/yo.jpg) center/cover no-repeat;
}
.projects .item .item-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--green);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    opacity: 0;
    transition: var(--transition);
}
.projects .item .item-overlay a{
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: var(--poppins);
}
.projects .item .item-overlay h3{
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
}
.projects .item:hover .item-overlay{
    opacity: 0.9;
}

/* #### SERVICES PAGE #### */
.services{
    padding: 5rem 0 2.5rem 0;
}
.services > .text{
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
}
.services .item{
    text-align: center;
    padding: 1.5rem 0 4rem 0;
    background: var(--nero);
    margin: 1.5rem 0;
    cursor: pointer;
    transition: var(--transition);
}
.services .item span{
    font-size: 5rem;
    color: var(--green);
}
.services .item h2{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
}
.services .item h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    background: var(--green);
    width: 50px;
    height: 0.5px;
    left: 50%;
    transform: translateX(-50%);
}
.services .item:hover{
    background: var(--green);
}
.services .item:hover span{
    color: #fff;
}
.services .item:hover h2{
    color: var(--black);
}
.services .item:hover h2::after{
    background: var(--black);
}
.services .btn{
    margin: 2.5rem auto 1rem auto;
    display: block;

}
.services-container .row{
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}
.services-container .text{
	font-size: 20px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(22, 173, 9);
	margin: 22px;
}
@media screen and (max-width: 800px) {
	.left, .main, .right {
	  width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
	}
